altgraph==0.17
certifi==2022.12.7
chardet==4.0.0
click==8.0.1
entrypoints==0.3
flake8==3.7.9
idna==2.9
macholib==1.14
mccabe==0.6.1
Nuitka==0.9
pycodestyle==2.5.0
pyflakes==2.1.1
PyInstaller==5.13.1
requests==2.25.1
urllib3==1.26.5
